/* 
*Rótulo em itálico
*fundo azul claro
*texto em negrito quando digitado
*quando o campo fica em foco cor de fundo fica branca
. Ajuste o tamanho do campo pelo css*/
header{
    text-align: center;
    font-weight: bold;
}
.box{
    position: absolute;
    left: 20%;
    right: 20%;
    text-align: center;
}
form label{
    font-style: italic;
}
form input {
    background-color: rgb(149, 204, 226);
    font-weight: bold;
    width: 100%;
}
#cpf, #rg{
    width: 85px;
    margin-left: 7%;
    margin-right: 7%;
}

form select{
    background-color: rgb(149, 204, 226);
    font-weight: bold;
    width: 100%;
}
div input{
    font-weight: bold;
    width: auto;
}
div input[type="text"]{
    font-weight: bold;
    width: 100%;
}
form input:focus{
    background-color: white;
}
textarea{
    width: 100%;
}
footer{
    width: 50%;
}
